<%= image_tag("repairs.jpg", :width => "100%", :class => 'img-fluid') %>



			<section id="intervention">
				<div class="container">

					<header class="text-center mb-60 ">
						<h2>Intervention Request</h2>
						
						<p class="lead font-lato">Make a new intervention</p>
						<hr />
					</header>


					<div class="row">

            

							

							
							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->


                            
						
						<div class="col-md-8 col-sm-8">
							<%= bootstrap_form_with(model: @intervention, local: true) do |f| %>
							<%= f.alert_message "<strong>Sorry!</strong> You need to complete all mandatory (*) fields!" %>
					

									<div class="row">
											<div class="col-md-4", id="customer">
                                            <%= f.select(:customer_id, options_from_collection_for_select(Customer.all, :id, :company_name), {prompt: "---Select---", label: "Customer Name *"}, {class: 'custom-select mb-0 mr-sm-0 mb-sm-0', required: true }) %>                                
											</div>
									</div>
									<div class = "row">
										<div class="col-sm-3", id="building">
											<%= f.select(:building_id, options_from_collection_for_select(Building.all, :id, :id), {prompt: "---Select---", label: "Building ID *"}, {class: 'custom-select mb-0 mr-sm-0 mb-sm-0', required: true}) %>
										</div>
										<div class="col-sm-3", id="battery">
										<%= f.select(:battery_id, options_from_collection_for_select(Battery.all, :id, :id), {prompt: "---Select---", label: "Battery ID"}, {class: 'custom-select mb-0 mr-sm-0 mb-sm-0'}) %>
										</div>
										<div class="col-sm-3", id="column">
										<%= f.select(:column_id, options_from_collection_for_select(Column.all, :id, :id), {prompt: "---Select---", label: "Column ID"}, {class: 'custom-select mb-0 mr-sm-0 mb-sm-0'}) %> 
										</div>
										<div class="col-sm-3", id= "elevator">
										<%= f.select(:elevator_id, options_from_collection_for_select(Elevator.all, :id, :id), {prompt: "---Select---", label: "ElevatorID "}, {class: 'custom-select mb-0 mr-sm-0 mb-sm-0'}) %>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<%= f.select(:employee_id, options_from_collection_for_select(Employee.all, :id, :last_name, ), {prompt: "---Select---", label: "Employee"}, {class: 'custom-select mb-0 mr-sm-0 mb-sm-0'}) %>
										</div>
									</div>
									<div class="row">
											<div class="col-md-12">
                                            <%= f.text_area :report, label: "Description *", control_class: "form-control", :maxlength => "10000", :rows => "8", required: true %> 
											</div>
									</div>


								</fieldset>

								<div class="row">
									<div class="col-md-12">
                                    <%= f.submit "SEND INTERVENTION", class: "btn btn-outline-danger" %>
									</div>
								</div>
							<% end %>

						</div>
						

					</div>

				</div>
			</section>


<script>

    $(document).ready(function() {

        $("#building").hide();
        $("#battery").hide();
        $("#column").hide();
        $("#elevator").hide();

        function ajaxCall(item, element){

            var itemId = $("#" + item + "_id").val();


            if (itemId != "" && itemId != "---Select---" ){
                
            console.log("#######");
            
                $.ajax({
                    url: "/search",
                    method: "GET",  
                    dataType: "json",
                    data: {itemId: itemId, type: element},
                    error: function (xhr, status, error) {
                        console.error('AJAX Error: ' + status + error);
                    },
                    success: function (response) {
                        console.log(response);
                        var elements = response["elements"];
                        $("select#" + element +"_id option").remove();

                        $("#" + element +"_id").append('<option value = "">---Select---</option>');
                        for(var i = 0; i < elements.length; i++){
                            $("#" + element +"_id").append('<option value="' + elements[i]["id"] + '">' + elements[i]["id"] + '</option>');
                        }
                    }

                });
                $("#" + element).show();
            }
        }

        $("#customer_id").change(function(){

			$("#building").hide();
			$("#battery").hide();
			$("#column").hide();
			$("#elevator").hide();
            ajaxCall("customer", "building")
            });

        $("#building_id").change(function(){

			$("#battery").hide();
			$("#column").hide();
			$("#elevator").hide();
            ajaxCall("building", "battery")
			});
			
        $("#battery_id").change(function(){

			$("#column").hide();
			$("#elevator").hide();
            ajaxCall("battery", "column")
			});
			
        $("#column_id").change(function(){

			$("#elevator").hide();
            ajaxCall("column", "elevator")
            });

    });

</script>